<div class="currency-list">
  <div class="header-table">
    <p class="title">{{'name' | translate }}</p>
    <p class="title">{{'price' | translate }}</p>
    <p class="title">{{'crypto' | translate }}</p>
    <p class="title">{{'convert' | translate }}</p>
  </div>
  <div class="scroll-cont" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    [scrollWindow]="false" (scrolled)="onScrollDown()">
    <app-currency *ngFor="let coin of visibles" [coin]="coin">
    </app-currency>
  </div>
</div>