<div class="content-g">
  <h1 class="h1-style">{{'makeChange' | translate }}</h1>
  <span class="label-center"> {{'selectCurrencies' | translate }} </span>
  <div class="input-cont">
    <input type="number" [(ngModel)]="changeValue" class="input-form" #box (keyup)="onKey(box.value)" />
  </div>
  <div class="select-cont ">
    <select class="input-form" [(ngModel)]="from" (change)="valueChange()">
      <option *ngFor="let coin of coins" value="{{ coin.id_currency }}">{{
          coin.id_currency
      }}</option>
    </select>
  </div>
  <div class="select-cont ">
    <select class="input-form" [(ngModel)]="to" (change)="valueChange()">
      <option *ngFor="let coin of coins" value="{{ coin.id_currency }}">{{
          coin.id_currency
    }}</option>
    </select>
  </div>
  <div class="input-cont">
    <input type="number" disabled=true class="input-form" [(ngModel)]="quantity" />
  </div>
  <button class="btn-exchange" type="button" (click)="changeSelect()"></button>
</div>